body {
  background-color: black;
}
h1, h2, h3, p {
  color: white;
  font-family: 'Titillium Web', sans-serif;
}
.button {
  background-color: blue;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 32px;
  width: 100%;
}
